.home {
  max-width: 1200px;
  margin: 10px auto;
}
.noData,
.include {
  text-align: center;
  margin: 20px auto;
}
.gotobtn {
  margin: 20px auto;
}
.include em::before {
  content: "' ";
}
.include em::after {
  content: " '";
}
