@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");
/* base styles */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Quicksand";
  overflow-x: hidden;
}
html,
body,
#root {
  height: 100%;
}
body {
  font-size: 1rem;
  background-color: #030a17;
  /* #212535 */
  color: white;
}
h1,
h2,
h3,
p {
  margin: 0;
}
input,
textarea {
  padding: 8px;
  font-size: 1rem;
  border-radius: 4px;
  display: block;
  width: 100%;
  box-sizing: border-box;
}
.page-title {
  text-align: center;
  margin: 40px auto;
  color: #212535;
}
.loading,
.error {
  text-align: center;
  margin: 40px auto;
}
.App {
  min-height: 100%;
}
.active {
  transform: scale(1.05);
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
